body {
	margin-left: 40%;
	background-color: #C0C0C0;
}

.game-container {
	display: grid;
	grid-template-columns: repeat(3, auto);
	width: 306px;
	margin 50px auto;
}

.board-cell {
	width: 100px;
	height: 100px;
	border: 3px solid #333333;
	cursor: pointer;
	line-height: 100px;
	font-size: 40px;
	background-color: white;
}

.board-cell p {
	margin: 0 0 0 0;
	display: flex;
	justify-content: center;
	align-content: center;
}

.reset-button {
	margin-top: 2%;
	margin-left: 7.5%;
	font-size: 16px;
}

h1 {
	margin-left: 6%;
}

h2 {
	margin-left: 6%;
	margin-right: 6%;
}